@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
  color: black;
  background-color: red;
  font-family: 'Press Start 2P', cursive;

  position:absolute;
  width:100%;
  top:30%;
  text-align:center;
}

.h2{
    border-color:red
}


