{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smile2Buy</title>
    {% if emotion == "happy" %}
     <link rel="stylesheet" href="{% static 'css/happy.css' %}">
    {% elif emotion == "angry" %}
     <link rel="stylesheet" href="{% static 'css/angry.css' %}">
    {% elif emotion == "disgust" %}
     <link rel="stylesheet" href="{% static 'css/disgust.css' %}">
    {% elif emotion == "fear" %}
     <link rel="stylesheet" href="{% static 'css/fear.css' %}">
    {% elif emotion == "sad" %}
     <link rel="stylesheet" href="{% static 'css/sad.css' %}">
    {% elif emotion == "surprise" %}
     <link rel="stylesheet" href="{% static 'css/surprise.css' %}">
    {% elif emotion == "neutral" %}
     <link rel="stylesheet" href="{% static 'css/neutral.css' %}">
    {% endif %}

</head>
<body>
    <h1>Искуственный интеллект считает,<br> что при обновлении страницы вы испытали эмоцию:</h1>
    <h2>{{ emotion }}</h2>
    <a href="/">Попробовать еще</a>
</body>
</html>